In [1]:
import requests
import json
import pandas as pd
import os
from dotenv import load_dotenv
import gspread
from oauth2client.service_account import ServiceAccountCredentials

load_dotenv()

#asana creds
asana_token = os.getenv('ASANA_TOKEN')
workspace_gid = os.getenv('WORKSPACE_GID')
team_gid = os.getenv('TEAM_GID')

#google sheets creds
scope = ["https://spreadsheets.google.com/feeds", "https://www.googleapis.com/auth/drive"]
creds = ServiceAccountCredentials.from_json_keyfile_name('credentials.json', scope)
client = gspread.authorize(creds)

#skip list
with open('users_to_skip.json', 'r', encoding='utf-8') as config_file:
    config = json.load(config_file)
users_to_skip = config.get('users_to_skip', '')
users_to_skip

['Artem Volovikov',
 'Анна Воловикова',
 'Smartics',
 'Andrey Komendant',
 'Татьяна Милова',
 'Артюшевский Дмитрий Игоревич',
 'Антонов Никита Сергеевич',
 'Дубов Константин Владимирович',
 'Евгений Подкорытов',
 'Анна Каменкова',
 'Иван Гришин',
 'Дауддин Дауди',
 'Александр Виноградов',
 'Антон Слукин',
 'Анна Мохова',
 'Бухгалтер Арска',
 'Егор Пушкин',
 'Полина Кузнецова',
 'Шлыков Дмитрий']

In [2]:
#asana_users_df
def get_users(asana_token, team_gid):
    
    url = f"https://app.asana.com/api/1.0/teams/{team_gid}/users"
    headers = {'Authorization': f'Bearer {asana_token}'}
    
    payload = {
    'opt_fields': 'name',
     'opt_pretty': True
     }
    
    response = requests.get(url, headers=headers, params=payload)
    users_json = response.json()
    users_df = pd.json_normalize(users_json['data'], max_level=1)
    
    rows_to_keep = []
    for _, row in users_df.iterrows():
        if row['name'] not in users_to_skip:
            rows_to_keep.append(row)
            
    users_df = pd.DataFrame(rows_to_keep).reset_index(drop=True)
    users_df = users_df.rename(columns={'gid':'user_gid'})                      
    users_df['idx'] = (users_df.index + 1).tolist()
    
    col_order = ['idx', 'user_gid', 'name']
    users_df = users_df[col_order]
    
    return users_df

users_df = get_users(asana_token, team_gid)
users_df

    idx          user_gid                    name
0     1  1169819852543243      Burmistrov Dmitrii
1     2  1200684451347406             Elena Maeva
2     3  1206620019823578       Maxim Letunovskii
3     4  1208216811351938               sammaleen
4     5  1205394271497253       Александр Смирнов
5     6  1207898444509346         Алиса Гончарова
6     7  1207866432174028      Анастасия Романова
7     8  1206236521952192         Андрей Васильев
8     9  1208528828660703         Валерия Елагина
9    10  1206632185530228         Дмитрий Лебедев
10   11  1208448418817661          Ирина Капланян
11   12  1202140862733702       Кирилл Матрёничев
12   13  1206644695099440  Константин Петрухненко
13   14  1208796650620074          Никита Помолев
14   15  1207297908474016     Полина Панкстьянова

In [4]:
#connect to asana_users GS table and update data

#get current gs instance 

table = client.open('asana_users')
sheet = table.worksheet('users')
gs_data = sheet.get('A:D')
gs_users = pd.DataFrame(gs_data[1:], columns=gs_data[0])

gs_users

  idx user_gid         name                                         user_token
0   1           Elena Maeva  2/1200684451347406/1205697720563281:04f45ed138...

In [ ]:
# update users_df with tokens from user_token

def update_users_df(users_df, gs_users):
    
    for _, row in users_df.iterrows():
        
        row['user_token'] = None